body {
  background-color: #292d32;
  font-family: "Raleway", "Nanum Myeongjo", sans-serif;
  font-weight: lighter;
}
#complete_all_btn {
  margin: auto 10px;
  stroke-width: 5;
  width: 40px;
  fill: #292d32;
  opacity: 0;
  transition: opacity 0.2s linear;
}
#complete_all_btn:hover {
  cursor: pointer;
}
#complete_all_btn .box_line {
  stroke: #626060;
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  transition: stroke 0.2s linear;
}
#complete_all_btn .check_line {
  stroke: #3e3e3e;
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  transition: stroke-dashoffset 0.2s linear;
}
#complete_all_btn.all_completed .box_line {
  stroke: #248d4c;
  stroke-dashoffset: 0;
  transition: stroke 0.2s linear;
}
#complete_all_btn.all_completed .check_line {
  stroke: #248d4c;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s cubic-bezier(0.09, 0.76, 0.98, 0.04);
}

#todo_window {
  width: 700px;
  height: auto;
  margin: 20px auto;
  text-align: center;
}
#todo_window > p {
  margin: 10px auto;
  font-size: 5em;
  color: transparent;
  text-shadow: 0 0 2px #8f9bac;
}

header {
  margin-bottom: 15px;
  padding: 10px;
}

header,
#indicator {
  background: #292d32;
  border-radius: 10px;
  box-shadow: 6px 6px 15px #121416, -6px -6px 15px #454951;
  height: 50px;
}
#indicator {
  display: flex;
  position: relative;
  margin: 15px 0 0 200px;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  opacity: 0;
  transition: opacity 0.5s linear;
}
#indicator.opacity_show {
  display: flex;
  opacity: 1;
  transition: opacity 0.5s linear;
}

#register {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}
#item_input {
  color: #b2b2b2;
  font-family: "Raleway", "Nanum Myeongjo", sans-serif;
  background: #2a2d32;
  border: none;
  font-size: 1.3em;
  width: 100%;
}
#item_input:focus {
  outline: none;
}
#item_input::placeholder {
  color: #494949;
}
.item_list {
  display: flex;
  opacity: 0;
  transition: opacity 0.5s linear;
  flex-direction: row;
  justify-content: space-between;
  background: #2a2d32;
  border-radius: 15px;
  box-shadow: inset 5px 5px 15px #1d1d22, inset -5px -5px 7px #3f434a;
  height: 55px;
  margin: 15px 0 15px 50px;
}
.item_list.opacity_show {
  opacity: 1;
  transition: opacity 0.3s linear;
}
#left_items_count_indicator {
  cursor: default;
  width: 100px;
  margin: auto 30px;
  transition: color 0.3s linear;
}
#item_filter {
  display: flex;
  width: 300px;
  justify-content: flex-end;
  margin: auto;
}
#item_filter > input {
  margin: auto 2px;
  transition: box-shadow 0.2s linear;
  font-size: 1em;
  font-weight: lighter;
  font-family: "Raleway", "Nanum Myeongjo", sans-serif;
  background: none;
  box-shadow: 0 0 2px 2px transparent;
  border-radius: 4px;
  border: 1px solid transparent;
}
#item_filter > input:focus {
  outline: none;
}
#item_filter > input:hover {
  box-shadow: 0 0 2px 2px rgba(146, 146, 146, 0.5);
  border-radius: 4px;
}
#item_filter > input:active {
  border: 1px solid #9f9104;
}
#item_filter > input[value="All"] {
  z-index: 3;
  color: darkorange;
}
#item_filter > input[value="Active"] {
  z-index: 3;
  color: firebrick;
}
#item_filter > input[value="Completed"] {
  z-index: 3;
  color: darkolivegreen;
}
#item_filter > input[value="Clear"] {
  z-index: 3;
  margin-right: 5px;
  color: #6e6e6d;
  display: none;
}
.item_list input[type="checkbox"] {
  display: none;
  pointer-events: none;
}
.item_list .item_text {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: #979ca0;
  transition: all 0.3s linear;
}
.item_list .item_text:hover {
  color: #a3c5cf;
  transition: color 0.2s linear;
}
.inner_checkbox {
  display: flex;
  width: 100%;
  margin: auto;
  font-size: 1.2em;
  text-align: left;
}
.completed .item_text {
  color: #4b4d50;
  text-decoration: line-through;
  transition: color 0.3s linear;
}
.inner_checkbox svg {
  margin: 10px;
  stroke-width: 5;
  width: 35px;
  fill: #292d32;
}
.inner_checkbox svg:hover {
  cursor: pointer;
}
.inner_checkbox svg .box_line {
  stroke: #626060;
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  transition: stroke 0.2s linear;
}
.inner_checkbox svg .check_line {
  stroke: #3e3e3e;
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  transition: stroke-dashoffset 0.2s linear;
}
.item_list.completed svg .box_line {
  stroke: #244a8d;
  stroke-dashoffset: 0;
  transition: stroke 0.2s linear;
}
.item_list.completed svg .check_line {
  stroke: #244a8d;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s cubic-bezier(0.09, 0.76, 0.98, 0.04);
}

.item_list .delete_btn {
  margin: auto 15px auto 10px;
  stroke-width: 5;
  width: 40px;
  fill: #292d32;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.item_list.delete_btn .circle_line {
  stroke: #626060;
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
  transition: stroke 0.5s linear;
}
.item_list .delete_btn .x_line {
  stroke: #3e3e3e;
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  transition: stroke-dashoffset 0.5s linear;
}

.item_list:hover .delete_btn {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.item_list:hover .delete_btn .circle_line {
  stroke: #745013;
  stroke-dashoffset: 0;
  transition: all 0.2s linear;
}
.item_list:hover .delete_btn .x_line {
  stroke: #745013;
  stroke-dasharray: 75;
  stroke-dashoffset: 0;
  transition: all 0.2s linear;
}

.item_list .delete_btn:hover .circle_line {
  stroke: #823420;
  transition: all 0.2s linear;
}
.item_list .delete_btn:hover .x_line {
  stroke: #823420;
  transition: all 0.2s linear;
}
#indicator #filter_box {
  position: absolute;
  width: 38px;
  height: 35px;
  border-radius: 8px;
  left: 247px;
  top: 7px;
  background: transparent;
  box-shadow: inset 3px 3px 5px #1d2023, inset -2px -2px 3px #373b41;
  transition: left 0.5s cubic-bezier(0.65, 0.01, 0.32, 0.99),
    width 0.5s cubic-bezier(0.65, 0.01, 0.32, 0.99);
}
