@keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(4.5deg); }
  4% {
    transform: translate(0, 0) rotate(-0.5deg); }
  6% {
    transform: translate(0, 0) rotate(5.5deg); }
  8% {
    transform: translate(0, 0) rotate(3.5deg); }
  10% {
    transform: translate(0, 0) rotate(7.5deg); }
  12% {
    transform: translate(0, 0) rotate(1.5deg); }
  14% {
    transform: translate(0, 0) rotate(-2.5deg); }
  16% {
    transform: translate(0, 0) rotate(-1.5deg); }
  18% {
    transform: translate(0, 0) rotate(2.5deg); }
  20% {
    transform: translate(0, 0) rotate(4.5deg); }
  22% {
    transform: translate(0, 0) rotate(-3.5deg); }
  24% {
    transform: translate(0, 0) rotate(-4.5deg); }
  26% {
    transform: translate(0, 0) rotate(-0.5deg); }
  28% {
    transform: translate(0, 0) rotate(4.5deg); }
  30% {
    transform: translate(0, 0) rotate(-2.5deg); }
  32% {
    transform: translate(0, 0) rotate(5.5deg); }
  34% {
    transform: translate(0, 0) rotate(-3.5deg); }
  36% {
    transform: translate(0, 0) rotate(-1.5deg); }
  38% {
    transform: translate(0, 0) rotate(-0.5deg); }
  40% {
    transform: translate(0, 0) rotate(6.5deg); }
  42% {
    transform: translate(0, 0) rotate(-2.5deg); }
  44% {
    transform: translate(0, 0) rotate(-1.5deg); }
  46% {
    transform: translate(0, 0) rotate(-6.5deg); }
  48% {
    transform: translate(0, 0) rotate(1.5deg); }
  50% {
    transform: translate(0, 0) rotate(4.5deg); }
  52% {
    transform: translate(0, 0) rotate(4.5deg); }
  54% {
    transform: translate(0, 0) rotate(-0.5deg); }
  56% {
    transform: translate(0, 0) rotate(3.5deg); }
  58% {
    transform: translate(0, 0) rotate(0.5deg); }
  60% {
    transform: translate(0, 0) rotate(-2.5deg); }
  62% {
    transform: translate(0, 0) rotate(-5.5deg); }
  64% {
    transform: translate(0, 0) rotate(4.5deg); }
  66% {
    transform: translate(0, 0) rotate(-4.5deg); }
  68% {
    transform: translate(0, 0) rotate(7.5deg); }
  70% {
    transform: translate(0, 0) rotate(7.5deg); }
  72% {
    transform: translate(0, 0) rotate(1.5deg); }
  74% {
    transform: translate(0, 0) rotate(0.5deg); }
  76% {
    transform: translate(0, 0) rotate(6.5deg); }
  78% {
    transform: translate(0, 0) rotate(-2.5deg); }
  80% {
    transform: translate(0, 0) rotate(-3.5deg); }
  82% {
    transform: translate(0, 0) rotate(-1.5deg); }
  84% {
    transform: translate(0, 0) rotate(-1.5deg); }
  86% {
    transform: translate(0, 0) rotate(-0.5deg); }
  88% {
    transform: translate(0, 0) rotate(1.5deg); }
  90% {
    transform: translate(0, 0) rotate(-0.5deg); }
  92% {
    transform: translate(0, 0) rotate(7.5deg); }
  94% {
    transform: translate(0, 0) rotate(-6.5deg); }
  96% {
    transform: translate(0, 0) rotate(-2.5deg); }
  98% {
    transform: translate(0, 0) rotate(7.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

body {
  background-color: #292d32;
  font-family: "Raleway", "Nanum Myeongjo", sans-serif;
  font-weight: lighter;
}
.modal {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.8;
}
#account {
  display: flex;
  justify-content: center;
  position: fixed;
  top: -100%;
  transition: top 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.18);
  width: 100%;
  height: 100%;
  z-index: 99;
}
.account_window {
  background-color: #ffffff;
  position: absolute;
  top:150px;
  width: 350px;
  height: 580px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 35px #acacac, inset 0 0 10px #b0b0b0;
  opacity: 1;
  display:flex;
  flex-direction: column;
}
#account h1 {
  color: #5a5a5a;
  text-align: center;
  margin-bottom:40px;
  text-shadow: 0 0 3px #9c9c9c;
}
#account .input_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#account label {
  color: #6a6969;
  font-weight: bold;
  margin: 10px 0 10px 30px;
  width: 178px
}
#account input {
  box-sizing: border-box;
  background-color: #e7e8ea;
  border-radius: 15px;
  color: #989898;
  font-weight: 100;
  font-size: 1em;
  margin: 0 auto 10px auto;
  padding: 0 20px;
  outline: none;
  height: 50px;
  width: 300px;
  border: none;
}

#account .submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#account .submit input{
  box-sizing: border-box;
  color: #ffffff;
  background-color: #81c91d;
  width: 300px;
  cursor: pointer;
}
#account .login_text {
  text-align: center;
  color: #6a6969;
  font-size: 0.9em;
  font-weight: bold;
}
#account .page_btn {
  color: #4c6ef4;
  cursor: pointer;
}
#account .error_message {
  text-align: center;
  margin: 5px auto 10px auto;
  color: #ff4500cc;
  font-weight: normal;
  height: 30px;
}
header {
  background: #292d32;
  border-radius: 10px;
  box-shadow: 6px 6px 15px #121416, -4px -4px 9px #454951;
  height: 50px;
  margin-bottom: 15px;
  padding: 10px;
}
#complete_all_btn {
  margin: auto 10px;
  stroke-width: 5;
  width: 40px;
  fill: #292d32;
  opacity: 0;
  transition: opacity 0.2s linear;
}
#complete_all_btn:hover {
  cursor: pointer;
}
#complete_all_btn .box_line {
  stroke: #626060;
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  transition: stroke 0.2s linear;
}
#complete_all_btn .check_line {
  stroke: #3e3e3e;
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  transition: stroke-dashoffset 0.2s linear;
}
#complete_all_btn.all_completed .box_line {
  stroke: #248d4c;
  stroke-dashoffset: 0;
  transition: stroke 0.2s linear;
}
#complete_all_btn.all_completed .check_line {
  stroke: #248d4c;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s cubic-bezier(0.09, 0.76, 0.98, 0.04);
}
#register_item {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}
#todo_window {
  width: 700px;
  height: auto;
  margin: 20px auto;
  text-align: center;
}
#todo_window > p {
  margin: 10px auto;
  height: 130px;
  font-size: 5em;
  color: transparent;
  text-shadow: 0 0 2px #4f5b6c;
}
#indicator_bar {
  background: #292d32;
  border-radius: 10px;
  box-shadow: 6px 6px 15px #121416, -3px -3px 7px #454951;
  height: 50px;
  display: flex;
  position: relative;
  margin: 15px 0 0 200px;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
}

#item_input {
  color: #b2b2b2;
  font-family: "Raleway", "Nanum Myeongjo", sans-serif;
  background: #292d32;
  border: none;
  font-size: 1.3em;
  width: 100%;
}
#item_input:focus {
  outline: none;
}
#item_input::placeholder {
  color: #494949;
}
.item_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #2a2d32;
  border-radius: 15px;
  box-shadow: inset 5px 5px 15px #1d1d22, inset -5px -5px 7px #3f434a;
  height: 55px;
  width: auto;
  margin: 15px 0 15px 50px;
  opacity: 0;
}
#left_items_counter {
  color: #757575;
  cursor: default;
  width: 120px;
  margin: auto 20px;
  transition: color 0.3s linear;
}
#item_filter {
  display: flex;
  width: 200px;
  justify-content: flex-end;
  margin: auto;
}
#item_filter > input {
  margin: auto 2px;
  transition: box-shadow 0.2s linear;
  font-size: 1em;
  font-weight: lighter;
  font-family: "Raleway", "Nanum Myeongjo", sans-serif;
  background: none;
  box-shadow: 0 0 2px 2px transparent;
  border-radius: 4px;
  border: 1px solid transparent;
}
#item_filter > input:focus {
  outline: none;
}
#item_filter > input:hover {
  box-shadow: 0 0 2px 2px rgba(146, 146, 146, 0.5);
  border-radius: 4px;
}
#item_filter > input:active {
  border: 1px solid #9f9104;
}
#item_filter > input[value="All"] {
  z-index: 3;
  color: darkorange;
}
#item_filter > input[value="Active"] {
  z-index: 3;
  color: firebrick;
}
#item_filter > input[value="Completed"] {
  z-index: 3;
  color: darkolivegreen;
}
.item_list input[type="checkbox"] {
  display: none;
  pointer-events: none;
}
.item_list .item_text {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: #979ca0;
  transition: all 0.3s linear;
}
.item_list .item_text:hover {
  color: #a3c5cf;
  transition: color 0.2s linear;
}
.message {
  align-items: center;
  color: #979ca0;
}
.inner_checkbox {
  display: flex;
  width: 100%;
  margin: auto;
  font-size: 1.2em;
  text-align: left;
}
.completed .item_text {
  color: #4b4d50;
  text-decoration: line-through;
  transition: color 0.3s linear;
}
.inner_checkbox svg {
  margin: 10px;
  stroke-width: 5;
  width: 35px;
  fill: #292d32;
}
.inner_checkbox svg:hover {
  cursor: pointer;
}
.inner_checkbox svg .box_line {
  stroke: #626060;
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  transition: stroke 0.2s linear;
}
.inner_checkbox svg .check_line {
  stroke: #3e3e3e;
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  transition: stroke-dashoffset 0.2s linear;
}
.item_list.completed svg .box_line {
  stroke: #244a8d;
  stroke-dashoffset: 0;
  transition: stroke 0.2s linear;
}
.item_list.completed svg .check_line {
  stroke: #244a8d;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s cubic-bezier(0.09, 0.76, 0.98, 0.04);
}

.item_list .delete_btn {
  margin: auto 15px auto 10px;
  stroke-width: 5;
  width: 40px;
  fill: #292d32;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.item_list.delete_btn .circle_line {
  stroke: #626060;
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
  transition: stroke 0.5s linear;
}
.item_list .delete_btn .x_line {
  stroke: #3e3e3e;
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  transition: stroke-dashoffset 0.5s linear;
}

.item_list:hover .delete_btn {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.item_list:hover .delete_btn .circle_line {
  stroke: #745013;
  stroke-dashoffset: 0;
  transition: all 0.2s linear;
}
.item_list:hover .delete_btn .x_line {
  stroke: #745013;
  stroke-dasharray: 75;
  stroke-dashoffset: 0;
  transition: all 0.2s linear;
}

.item_list .delete_btn:hover .circle_line {
  stroke: #823420;
  transition: all 0.2s linear;
}
.item_list .delete_btn:hover .x_line {
  stroke: #823420;
  transition: all 0.2s linear;
}
#indicator_bar #clear_btn {
  margin: auto;
  border: none;
  background: transparent;
  z-index: 3;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: #757575;
  transition: box-shadow 0.2s linear;
  border-radius: 4px;
}
#indicator_bar #clear_btn:focus {
  outline: none;
}
#indicator_bar #clear_btn:hover {
  box-shadow: 0 0 2px 2px rgba(146, 146, 146, 0.5);
  border-radius: 4px;
  transition: box-shadow 0.2s linear;
}
#indicator_bar #filter_box {
  position: absolute;
  width: 38px;
  height: 35px;
  border-radius: 8px;
  left: 247px;
  top: 7px;
  background: transparent;
  box-shadow: inset 3px 3px 5px #1d2023, inset -2px -2px 3px #373b41;
  transition: left 0.5s cubic-bezier(0.65, 0.01, 0.32, 0.99),
    width 0.5s cubic-bezier(0.65, 0.01, 0.32, 0.99);
}
